.header
{
    overflow: hidden;
    /* background-color: #f5f5f0; */
    background-color:  #f5f5f0;
    padding: 15px 10px
}

.header .logo
{
    float: left;
}

.header .right
{
    float: right;
}

.header ul
{
    list-style-type: none;
    margin: 0 0 0 0;
}


.up
{
    margin: 0 0 40px 0;
}

/* header li
{
    margin-bottom: 50px;
} */

.right img
{
    height: 30px;
}

.search-logo
{
    margin-right: 30px;
}

.header a
{
    /* float: right; */
    /* text-align: center; */
    text-decoration: none;
    /* float: right; */
    color: black;
    /* text-align: center; */
    /* padding: 12px; */
    /* text-decoration: none; */
    font-size: 18px; 
    /* line-height: 25px; */
    /* border-radius: 4px; */
}